-- vim:ft=config
Config { font = "Terminess Nerd Font 12"
       , additionalFonts = ["Terminess Nerd Font Italic 12"]
       , bgColor = "#2d2d2d"
       , fgColor = "#cccccc"
       , alpha = 128
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = ".config/xmobar/xpm/"
       , allDesktops = True
       , overrideRedirect = True
       , textOutputFormat = Ansi
       , commands = [ Run Weather "LKKB" ["-t","wth: <tempC>°C",
                                          "-L","18", "-H","25",
                                          "--normal","#a5c261",
                                          "--high","#d25252",
                                          "--low","#bed6ff"] 36000
                    , Run Wireless "" ["-t","wlan: <ssid> (<quality>%)"] 20
                    , Run Cpu ["-t","cpu: <total>%", "-L","10", "-H","50",
                               "--low","#a5c261", "--normal","#ffc66d", "--high","#d25252"] 20
                    , Run Memory ["-t","mem: <usedratio>%"] 20
                    , Run Date "%a %d.%m.%Y %H:%M:%S" "date" 10
                    , Run BatteryP ["BAT0"] ["-t","bat: <left>% (<timeleft>)",
                                             "-L","20",
                                             "-H","80",
                                             "--low","#d25252",
                                             "--normal","#ffc66d",
                                             "--high","#a5c261",
                                             "--",
                                             "-A","5",
                                             "-a","notify-send -u critical 'Low battery!!' 'Connect charging cable'"] 50
                    , Run Kbd []
                    , Run Alsa "default" "Master"
                        [ "--template", "vol: <volumestatus>"
                        , "--suffix"  , "True"
                        , "--"
                        , "--on", ""
                        ]
                    , Run XMonadLog
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<hspace=8/>%XMonadLog% } <fc=#f9a959><fn=0>%date%</fn></fc> { %battery% | %memory% | %cpu% | %wi% | %alsa:default:Master% | %kbd%<hspace=8/>"
       }
