[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "fzf"]
	path = ext/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "ext/base16-shell"]
	path = ext/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
	ignore = dirty
[submodule "ext/packer.nvim"]
	path = ext/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
