/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "La Capitaine";
  font:               "mononoki Nerd Font Mono 12";
  terminal:           "alacritty";

  kb-row-left:        "Alt+h";
  kb-row-down:        "Alt+j,Down,Control+n";
  kb-row-up:          "Alt+k,Up,Control+p";
  kb-row-right:       "Alt+l";
}
/* @theme "/usr/share/rofi/themes/gruvbox-dark.rasi" */
@import "base16_colors.rasi"
window {
  width: 600px;
}
