/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "La Capitaine";
  font:               "Space Grotesk Regular 11";
  terminal:           "kitty";

  kb-row-left:        "Alt+h";
  kb-row-down:        "Alt+j,Down,Control+n";
  kb-row-up:          "Alt+k,Up,Control+p";
  kb-row-right:       "Alt+l";
}
@theme "arthur-catppuccin.rasi"
window {
  width: 600px;
}
