/* colors */
@import "base16_colors.rasi"

* {
  al:  @alternate-normal-foreground;
  bg:  @background;
  se:  @selected-normal-foreground;
  fg:  @foreground;
  ac:  @active-foreground;

  accent: @se;
  background: @bg;
  background-light: @alternate-normal-background;
  background-focus: @selected-normal-background;
  foreground: @fg;
  foreground-list: @ac;
  on: @blue;
  off: @red;
}
